.container li{
    font-size: 25px;
}
.button{
    margin: 30px 80px;
    width: 200px;
    height: 100px;
    border: 2px solid white;
    background-color: aqua;
    font-size: 23px;
}
.container{
    margin: 30px 80px;
}